[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/catch2"]
	path = third_party/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "third_party/asap_boost"]
	path = third_party/asap_boost
	url = https://gitlab.com/absassi/asap_boost.git
[submodule "common"]
	path = common
	url = https://gitlab.com/absassi/asap_common.git
